:root {
  --main-color: #0F0771;
  --color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hp {
  color: white;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  word-spacing: 1rem;

}

.hp span,
b {
  word-spacing: 0;
}

.hp span {
  margin-left: 15rem;
}

#carouselExample {
  margin-top: 0;
}

#carouselExampleSlidesOnly img {
  height: 480px;
}

.nav-item a {
  color: var(--main-color);
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}

.container-fluid a {
  color: var(--main-color);
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.navbar .lr {
  margin-left: 2px;
  color: white;
  background: var(--main-color);
  animation: change 2s linear 1s infinite;
  border: none;
  margin-top: 1px;
}

@keyframes change {
  from {
    background-color: red;
    color: var(--color);
  }

  to {
    background-color: var(--main-color);
    color: var(--color);
  }
}

.facilties {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.flogo {
  padding: 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-title h2 {
  position: relative;
  display: block;
  line-height: 1.2em;
  color: #29166f;
  font-weight: 700;
}

.sec-title .divider {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  width: 150px;
  text-align: center;
}

.sec-title .divider:before,
.sec-title .divider:after {
  position: absolute;
  left: 0;
  top: 9px;
  height: 1px;
  width: 52px;
  background-color: #29166f;
  content: "";
}

.fa-mortar-board:before {
  content: "\f19d";
}

.sec-title .divider:after {
  left: auto;
  right: 0;
}

#digi {
  white-space: normal;
}

.background-image-overlay {
  position: relative;
  height: 200px;
  /* Adjust the height as needed */
  text-align: center;
  color: white;
  padding: 20px;
  overflow: hidden;
  /* Ensure the overlay does not overflow */

  /* Set the background image */
  background-image: url('image/lbs1.jpeg');
  background-size: cover;
  background-position: center;
}

.background-image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Create the blue color with opacity */
  background-color: rgba(0, 0, 255, 0.422);
  /* Adjust the color and opacity as needed */
}

.background-image-overlay h1 {
  font-size: 42px;
  margin-top: 70px;
  /* Adjust the spacing between the text and image */
  color: white;
  font-weight: bold;
  position: relative;
}


.fabout h2,
h5 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.25rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.fabout p {
  margin-top: 0;
  margin-bottom: 1rem;
}



.fhr {
  width: 450px;
  height: 2px;
  color: #0F0771;
  margin-left: 20rem;
}



.left-btn {
  background-color: #0F0771;
  color: white;
  /* Set the text color of the button */
  border: none;
  /* Remove the default button border */
  padding: 10px 50px;
  /* Set the padding around the button text */
  clip-path: polygon(0 0, 100% 0, 100% 0%, 75% 100%, 0 100%);
  /* Set the cut-out shape using polygon coordinates */
  position: relative;
  left: 37px;
  height: 40px;
  text-decoration: none;
}

.right-btn {
  color: white;
  /* Set the text color of the button */
  border: none;
  /* Remove the default button border */
  padding: 10px 50px;
  /* Set the padding around the button text */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 23% 0%);
  /* Set the left-cut polygon shape using coordinates */
  position: relative;
  background-color: #0F0771;
  text-decoration: none;
}

.glrgrp {
  flex-wrap: wrap;
}

.groups {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.group img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.cr {
  color: #0F0771;
}

.numbers div {
  margin: 0 2rem;
}

.cr span {
  font-size: 1.25rem;
}

.cr p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer ul li {
  list-style: none;
}

.form-control {
  height: 30px;
  border-radius: 0;
}

.form-control::placeholder {
  color: var(--main-color);
  font-size: 13px;
  text-transform: capitalize;
}

.p-17 {
  font-family: trebuchet;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  word-wrap: none;
  margin: 1rem;
}

.py-5 {
  padding-bottom: 3rem;
}

.about-img {
  position: relative;
}

.about-img .img_1 {
  border-radius: 20px !important;
  border: 1px solid rgb(100 107 160) !important;
  background: #545d5c !important;
  position: relative !important;
  max-width: fit-content !important;
  padding: 1rem !important;
}

.card-img {
  width: 100%;
  /* border-radius: calc(0.25rem - 1px); */
}

.border-line {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0 !important;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.vission-mission h3:before {
  content: '';
  position: absolute;
  width: 65px;
  top: 22%;
  height: 4px;
  left:0;
  background: #e67817;
}

.vs p {
  font-family: trebuchet;
}

.vs {
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
}










/* .row {
   /* display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
} */